    <div class="ae-grid au-xs-ta-center au-mb-4">

      <div *ngFor="let persona of infoPaginaService.equipo" class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img [src]="persona.url" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{persona.nombre}}</h5>
        <p class="ae-u-bolder au-mb-3">{{persona.subtitulo}}</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{persona.frase}}</p>
        <a target="_blank" href="https://twitter.com/{{persona.twitter}}" class="ae-u-bolder au-underline">{{persona.twitter}}</a>
      </div>

      
    </div>
    <div class="ae-grid au-pt-2">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Grupo HADE</h4>
        <p>Como Grupo HADE, en nuestro proyecto inaugural aspiramos a ofrecer a la sociedad propuestas de alto valor técnico, funcional y estético.</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">QUIENES SOMOS</h6>
        <p class="au-lh-3">En Grupo HΛDE somos una fusión de profesionales en arquitectura comprometidos con la transformación del entorno mediante intervenciones que integran rediseño, construcción y renovación. Nuestro enfoque se basa en la aplicación de principios de conservación ambiental y en la concepción de espacios funcionales, versátiles y sostenibles.
           <br>
          Nosotros no seguimos tendencias, las creamos.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">MISION</h6>
        <p class="au-lh-3">Demostrar un desarrollo sólido mediante la implementación de diversas técnicas y corrientes arquitectónicas, con el fin de asegurar diseños aptos que brinden multifuncionalidad a los espacios y respondan adecuadamente a las necesidades básicas de un inmueble público y de alta circulación. El resultado de este enfoque es dotar a cada proyecto de una identidad única, manteniendo un equilibrio entre lo funcional y lo estético, reafirmando así nuestro compromiso esencial de transformar la interacción con el entorno mediante fundamentos que optimicen la calidad de vida y fomenten una integración armoniosa con el ecosistema.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">VISION</h6>
        <p class="au-lh-3">Ser un referente en la arquitectura adaptable y sostenible de El Salvador, mediante el desarrollo de espacios que integren soluciones tanto biofílicas como multifuncionales. Esto permite optimizar la versatilidad de los espacios mediante la implementación de cada uno de los principios brindados por las diversas corrientes aplicadas en cada proyecto, con los cuales se busca generar entornos que promuevan una interacción armoniosa entre las necesidades humanas, garantizando sostenibilidad y eficiencia en el uso de recursos, con gran estabilidad y conservación a largo plazo.</p>
      </div>
    </div>
    <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our Portfolio<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></p>
